name: moneytracker
description: "Money Tracker - personal finance management application."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.1

workspace:
  - packages/shared
  - packages/ui
  - packages/auth

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared:
    path: ./packages/shared

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  melos: ^7.3.0

flutter:
  uses-material-design: true
  assets:
    - packages/shared/assets/config/

  fonts:
    - family: ibmPlexSansThai
      fonts:
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Thin.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-ExtraLight.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Light.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Regular.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Medium.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-SemiBold.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Bold.ttf

melos:
  command:
    bootstrap:
      runPubGetInParallel: true

  scripts:
    generate:
      exec: dart run build_runner build --delete-conflicting-outputs && dart run shared:create_locale_keys MELOS_PACKAGE_NAME
      packageFilters:
        flutter: true

scripts:
  generate:
    $script: dart run build_runner build --delete-conflicting-outputs && dart run shared:create_locale_keys app
    $description: Generate code for all packages

  create-feature:
    $script: dart run shared:create_feature ${0}
    $description: Create a new feature package
