name: moneytracker
description: "Money Tracker - personal finance management application."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  melos: ^7.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

melos:
  command:
    bootstrap:
      runPubGetInParallel: true
  
  scripts:
    gen:
      exec: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        flutter: true

    gen:intl:
      run: dart run core:merge_l10n
      exec:
        concurrency: 1
      packageFilters:
        flutter: true